<!DOCTYPE html>
<html>
    <head>
        <title>shockham</title>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/reset.css')}}">
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/app.css')}}">
        {% block head_add %}
        {% endblock %}
    </head>
    <body>
        <h1 id="header" class="bar fixed_top_left" >
            <a href="{{ url_for('routes.index') }}">
                <img id="logo" class="z_front fixed_top_left" src="{{ url_for('static', filename='images/logo_grade.png')}}" alt="shockham">
            </a>
            <canvas id="header_canvas" class="z_mid fixed_top_left"></canvas>
        </h1>
        <div class="content_holder">
            {% block content %}
            {% endblock %}
            <a class="bottom" rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">
                <img alt="Creative Commons License" src="{{ url_for('static', filename='images/88x31.png') }}" />
            </a>
        </div>
        <script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>
        {% block page_js %}
        {% endblock %}
    </body>
</html>
