{% extends "base.html" %}
{% block content %}
    <h2 class="title">{{ concept.title }}</h2>
    <a class="smallest_font back" href="{{ url_for('routes.concept', concept_slug=concept.parent) }}">
    {% if concept.parent == "" %}
    	< home
    {% else %}
    	< {{ concept.parent }}
    {% endif %}
    </a>
    <hr>
    <div class="markup">{{ concept.markup|safe }}</div>
    <hr>
    <ul>
        {% for c in sub_concepts %}
            <li><a class="item sub_item" href="{{ url_for('routes.concept', concept_slug=c.slug) }}" >☲ {{ c.title }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
