{% extends "base.html" %}
{% block content %}
    <div>
        Total: {{ total }}
    </div>
    <table class="smallest_font">
        <thead>
            <tr>
                <th>page url</th>
                <th>% of visits</th>
                <th>visits</th>
                <th>last visited</th>
            </tr>
        </thead>
        <tbody>
            {% for s in stats %}
                <tr>
                    <td class="max_size"><a href="{{ s.page_url }}">{{ s.page_url }}</a></td>
                    <td>{{ (s.visits/total)*100 }}</td>
                    <td>{{ s.visits }}</td>
                    <td>{{ s.created_at }}</td>
                <tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
