@font-face { font-family: gilda; src: url(../fonts/GildaDisplay-Regular.ttf); font-weight: normal; font-style: normal; }

html{ background-color: #fff5ff; font-family: gilda; font-size: 60px; width:100%; }
hr{ border:solid 1px #000; }

a{ text-decoration: none; color: #666; }
a:hover{ color: #777; }

.bar{ width: 100%; height: 40%; background-color: #a9a9a9; opacity: 0.6; border-bottom: 2px solid #000; }
.fill{ width: 100%; }
.fill_h{ height: 100%; }
.bar_h{ height: 10%; }
.right{ float:right; }
.al_right{ text-align: right; }

.fixed_top_left{ position: fixed; top: 0; left: 0; }
.fixed_top_right{ position: fixed; top: 0; right: 0; }
.fixed_bottom_left{ position: fixed; bottom: 0; left: 0;}
.fixed_bottom_right{ position: fixed; bottom: 0; right: 0;}

.z_mid{  z-index: 1; }
.z_front{ z-index: 2; }

.content_holder{ width: 80%; height: 100%;  margin: 15% auto 10%; font-size: 60%; }

.bottom{ position: fixed; bottom: 0; left: 0; }

.title{ font-size: 140%; }
.item{ margin: 1% 0; }
.sub_item{ font-size: 75%; }

.edit_form{ font-size: 45%; }
.edit_field{ margin: 25px 0; }

.smallest_font{ font-size: 50%; }
.max_size{ max-width: 550px; overflow: hidden; text-overflow: ellipsis; }

